.container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #fff;
  }
  
  .navbar {
    position: fixed;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 3em;
    border-bottom:0.5px solid;
  }
  
  .site-logo {
    font-size: 18px;
    color: #000;
    font-weight: 600;
  }
  
  .header {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
  }
  
  #menu-toggle-btn {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s;
    z-index: 1000000;
  }
  
  #menu-toggle-btn span {
    height: 2px;
    background: #000;
    width: 24px;
    display: inline-block;
    position: absolute;
    top: 50%;
    transition: all 0.3s;
  }
  
  #menu-toggle-btn span::before {
    content: '';
    position: absolute;
    display: inline-block;
    height: 2px;
    background: #000;
    width: 24px;
    transition: all 0.3s;
    top: -5px;
  }
  
  #menu-toggle-btn.active span {
    transform: rotate(45deg);
    background-color: #fff;
  }
  
  #menu-toggle-btn.active span::before {
    top: 0;
    transform: rotate(-90deg);
    background-color: #fff;
  }
  
  #menu-toggle-btn.active:hover span::before {
    top: 0;
    transform: rotate(-90deg);
    background-color: #fff;
  }
  
  #nav-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #000;
    color: #fff;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
  }
  #nav-container.visible{
    visibility: visible;
    opacity: 1;
  }
  
  .nav {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
  
  .flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .nav-logo {
    font-weight: 300;
    margin-top: -0.2em;
    text-transform: uppercase;
    font-size: 120px;
    font-weight: lighter;
  }
  
  .nav-item-wrapper::after {
    content: '';
    position: absolute;
    top: 60px;
    left: 0;
    width: 500px;
    height: 60px;
    background: #000;
    margin: 0 auto;
    transition: 1s;
  }
  
  .nav-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 2em 1em;
    display: flex;
    justify-content: space-between;
  }
  
  .nav-footer a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    padding: 0 1em;
  }

  

.nav-logo {
    font-weight: 300;
    margin-top: -0.2em;
    text-transform: uppercase;
    font-size: 120px;
}

.nav-socials {
    display: flex;
    flex-direction: column;
}

.nav-socials a {
    text-decoration: none;
    font-weight: 400;
    color: #fff;
    font-size: 12px;
}

.nav-link {
    position: relative;
}
  
  @media (max-width: 900px) {
    .nav {
      flex-direction: column-reverse;
    }
    .nav-logo {
      display: none;
    }
    .nav-socials {
      flex-direction: row;
      margin-top: 4em;
    }
    .nav-socials a {
      padding: 0 0.4em;
    }
    .nav-footer {
      display: none;
    }
  }
  