.products-images-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 10px 100px;
}
.prd-image-container{
    width: auto;
    height: 300px;
    overflow: hidden;
}
.prd-image-container img{
    width: 100%;
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
}

.prd-image-container img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .prd-image-container img:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
  }
  

@media screen and (max-width:600px) {
    .products-images-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 10px 20px;
    }
    .prd-image-container {
        width: auto;
        height: 200px;
    }
}