* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	width: 100%;
    background-color: black;
    color: white;
    font-family: "Poppins", sans-serif;
}

@font-face {
    font-family: 'Meditative';
    src: url('Fonts/Meditative.woff');
    font-weight: normal;
    font-style: normal;
}

