* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	width: 100%;
    background-color: black;
    color: white;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

@font-face {
    font-family: 'Meditative';
    src: url('Fonts/Meditative.woff');
    font-weight: normal;
    font-style: normal;
}

.top-title{
    font-size: 50px;
    display: flex;
    letter-spacing: 5px;
    margin: 50px 0px;
    justify-content: center;
}

@media screen and (max-width:600px) {
    .top-title{
        font-size: 25px;
        margin: 20px 0px;
    }
}
